<div class="container">
  <div class="checkout-success-img" style="background-image: url(https://bit.ly/2P7GhNd);">
    <div class="col-5 mt-2 d-md-none" style="position: absolute; left: 125px; top: 250px;">
      <span class="material-icons" style="position: absolute; color:#3F5D45;">
        check_circle
      </span>

      <div class="step-line" style="border:solid #3F5D45 1px;"></div>

      <span class="material-icons" style="position: absolute; margin-left: 87px; color:#3F5D45;">
        check_circle
      </span>

      <div class=" step-line " style="border:solid #3F5D45 1px; left: 120px; "></div>

      <span class="material-icons" style="position: absolute; margin-left:168px; color:#3F5D45;">
        check_circle
      </span>
    </div>

    <div class="col-5 mt-2 d-none d-md-block" style="margin-left: 440px; padding-top: 100px;">
      <span class="material-icons" style="position: absolute; color:#3F5D45;">
        check_circle
      </span>

      <div class="step-line" style="border:solid #3F5D45 1px; margin-top: 101px;"></div>

      <span class="material-icons" style="position: absolute; margin-left: 87px; color:#3F5D45;">
        check_circle
      </span>

      <div class=" step-line " style="border:solid #3F5D45 1px; margin-top:101px; left: 120px; "></div>

      <span class="material-icons" style="position: absolute; margin-left:168px; color:#3F5D45;">
        check_circle
      </span>
    </div>

    <img class="d-none d-md-block" src="assets/img/lg-付款成功.png" style="margin-left: 455px; margin-top: 60px;">
    <img class="d-md-none" src="assets/img/lg-付款成功.png" style="margin-left: 124px; margin-top: 220px;">
    <a class="d-none d-md-block" routerLink='/home' style="text-decoration: none;">
      <div class="checkout-success-btn">繼續逛逛</div>
    </a>
  </div>
  <a class="d-md-none" routerLink='/home' style="text-decoration: none;">
    <div class="checkout-success-btn" style="margin: auto; width: auto;">繼續逛逛</div>
  </a>
</div>
