<div class="container mt-4 mb-4">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink='/home' class="navbar-brand navBrand"><img class="d-none d-md-inline-block "
        src='assets/img/logo-all-dark.png'></a>
    <button class="navbar-toggler mr-auto navBarBtn" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink='/cart' class="fa fa-shopping-cart d-sm-inline-block ml-sm-5 order-md-1"
      style="font-size: 24px; color: #3F5D45;  text-decoration: none;"></a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active mr-4">
          <a class="nav-link" routerLink='/home' style="color: #8DA291; font-size: 16px;">首頁<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-sm-4 mr-sm-4">
          <a class="nav-link" routerLink='/dessert' style="color: #8DA291; font-size: 16px;">甜點</a>
        </li>
        <li class="nav-item ml-sm-4 mr-sm-4">
          <a class="nav-link" routerLink='/login' style="color: #8DA291; font-size: 16px;">登入</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
