<div class="d-none d-md-block">
  <div class=" bg-section">
    <div class="row arr-form-content">
      <div class="col-1"></div>
      <div class="col-1 mt-2">
        <img class="" src="assets/img/logo-light.png" alt="">
      </div>
      <div class="col-3 mr-md-5 mt-1">
        <i class="form-text">訂閱你我的甜蜜郵件</i>
      </div>
      <div class="col-6">
        <span class="material-icons form-icon">email</span>
        <input class="input-box" type="email" style="padding-left: 37px;" name="" id="">
        <input type="submit" value=" " class="submit-btn">
        <span class="material-icons submit-icon">arrow_forward</span>
      </div>
    </div>
  </div>
</div>
<div class="footer-bg">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-7 d-md-none">
      <img class="mt-3 mb-5" src="assets/img/logotype-lg-dark.png" alt="">

      <ul></ul>
      <li class="footer-text-style">07-1234-5678</li>
      <li class="footer-text-style"> sweetaste@email.com</li>
      <li class="footer-text-style">800 高雄市新興區幸福路 520 號</li>

      <img class="mt-5" src="assets/img/ic-line@.png" alt="">
      <img class="mt-5" src="assets/img/ic-facebook.png" alt="">
    </div>
    <p class="d-md-none ml-5 mt-3 footer-text-style">© 2018 Sweetaste* All Rights Reserved</p>
    <div class="col-3 mt-md-5 d-none d-md-inline-block">
      <img class="mb-md-5" src="assets/img/logotype-lg-dark.png" alt="">
      <p class=" footer-text-style mt-md-5 mb-md-5">07-1234-5678 sweetaste@email.com 800 高雄市新興區幸福路 520 號
      </p>
      <img src="assets/img/ic-line@.png" alt="">
      <img src="assets/img/ic-facebook.png" alt="">
    </div>
    <div class="col-3"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
          <img class="mt-md-3 mb-md-3 d-none d-md d-md-inline-block" src="assets/img/sm-今天是個吃甜點的好日子.png" alt="">
        </div>
      </div>

      <p class="d-none d-md-inline-block mt-md-5 footer-text-style">© 2018 Sweetaste* All Rights Reserved</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>
