<div class="container picture1" style="background-image: url(https://bit.ly/2Qodh3Z);">
  <div class="row d-flex justify-content-end">
    <img arr-picture-img src="css/img/sm-想吃甜點是不需要理由的@2x.png" alt="">
  </div>
</div>

<div class="bg-space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-title" id="list-title-list" data-toggle="list">
          <div class="list-title-style">甜點類別</div>
        </a>
        <button class="list-group-item list-group-item-action list-group-style active" id="list-all-list" data-toggle="list"
        role="tab" aria-controls="home" (click)="dessertinfo.getAllProducts()">
          <div class="list-group-text">所有甜點({{dessertinfo.numberforall}})</div>
        </button>
        <a class="list-group-item list-group-item-action list-group-style" id="list-today-list" data-toggle="list"
           role="tab" aria-controls="profile" (click)="typeId = kind.Today">
          <div class="list-group-text">本日精選({{type1}})</div>
        </a>
        <a class="list-group-item list-group-item-action list-group-style" id="list-recommend-list" data-toggle="list"
        (click)="typeId = kind.Popular" role="tab" aria-controls="messages">
          <div class="list-group-text">人氣推薦({{type2}})</div>

        </a>
        <a class="list-group-item list-group-item-action list-group-style" id="list-new-list" data-toggle="list"
        (click)="typeId = kind.New" role="tab" aria-controls="settings">
          <div class="list-group-text">新品上市({{type3}})</div>

        </a>
        <a class="list-group-item list-group-item-action list-group-style" id="list-limit-list" data-toggle="list"
        (click)="typeId = kind.OutOfPrint" role="tab" aria-controls="settings">
          <div class="list-group-text">絕版品</div>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="nav-tabContent">
        <app-dessertinfo #dessertinfo [typeId]="typeId"></app-dessertinfo>
      </div>
    </div>
  </div>
</div>


