<div class="container picture1 px-0 px-md-3" style="background-image: url(https://bit.ly/2OhbMHr);">
  <div class="container px-0 arr-selectBar">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="row no-gutters">
          <a class="col-4 selectBar align-self-center" style="background-image: url(https://bit.ly/2QbVsVR);">
            <div id="todayRecommend" class="row rectangleOver justify-content-center align-items-center" (click)="desserthome.queryByTypeId(1)">
              本日精選
            </div>
          </a>

          <a class="col-4 selectBar" style="background-image: url(https://bit.ly/2Dwoxd7);">
            <div class="row rectangleOver justify-content-center align-items-center" (click)="desserthome.queryByTypeId(2)">
              人氣推薦
            </div>
          </a>

          <a class="col-4 selectBar" style="background-image: url(https://bit.ly/2OUteif);">
            <div class="row rectangleOver justify-content-center align-items-center" (click)="desserthome.queryByTypeId(3)">
              新品上市
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-space1">
  <div class="container">
    <div class="row arr-content1 d-sm-flex justify-content-center">
      <div>
        <img class="d-none d-md-inline-block contentPicture arr-contentPic px-0"
          style="background-image: url(https://bit.ly/2xPn7Eq);">

        <div style="text-align: center;">
          <img class="d-md-none mb-5" src="assets/img/sm-橫式-為什麼選擇了做甜點.png" alt="">
        </div>
        <img class="d-md-none arr-sm-img" style="background-image: url(https://bit.ly/2xPn7Eq);">
        <div class="d-md-none mt-5" style="margin:auto; height: 252px; width: 350px;">
          <p class="content-sm-text">
            青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
          </p>
          <p class="content-sm-text">
            是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
          </p>
        </div>

      </div>
      <div>
        <span class="contentText d-none d-md-inline-block"
          style="margin-left: 80px;">是非成敗轉頭空，滾滾長江東逝水，白樵江渚上，古今多少事，都付談笑中</span>
        <span class="contentText d-none d-md-inline-block" style="margin-left: 100px;">青山依舊在，幾度夕陽紅。慣看秋月春
          一壺濁酒喜相逢，浪花淘盡英雄。是非轉頭空，滾滾長江東逝水，白髮漁樵江 古今多少年，都付笑談中。</span>
      </div>
      <div>
        <img class="d-none d-md-inline-block" style="margin-left: 84px;" src="assets/img/lg-為什麼選擇了做甜點.png">
      </div>
    </div>



  </div>
</div>

<div class=" d-md-none bg-space1"></div>
<div class="bg-card"></div>

<div class="bg-space2">
  <div class="container">
    <div class="row arr-content2 d-sm-flex justify-content-center">
      <div>
        <span class="contentText d-none d-md-inline-block"
          style="margin-left: 80px;">是非成敗轉頭空，滾滾長江東逝水，白樵江渚上，古今多少事，都付談笑中</span>
        <span class="contentText d-none d-md-inline-block" style="margin-left: 100px;">青山依舊在，幾度夕陽紅。慣看秋月春
          一壺濁酒喜相逢，浪花淘盡英雄。是非轉頭空，滾滾長江東逝水，白髮漁樵江 古今多少年，都付笑談中。</span>
      </div>
      <div>
        <img class="d-none d-md-inline-block" style="margin-left: 84px; margin-right: 20px;"
          src="assets/img/lg-為什麼一定要吃甜點.png">

        <div style="text-align: center;">
          <img class="d-md-none mb-5" src="assets/img/sm-橫式-為什麼一定要吃甜點.png" alt="">
        </div>
        <img class="d-md-none arr-sm-img" style="background-image: url(https://bit.ly/2zzAQS4);">
        <div class="d-md-none mt-5" style="margin:auto; height: 252px; width: 350px;">
          <p class="content-sm-text">
            青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
          </p>
          <p class="content-sm-text">
            是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
          </p>
        </div>

      </div>
      <div>
        <img class="d-none d-md-inline-block contentPicture arr-contentPic"
          style="background-image: url(https://bit.ly/2zzAQS4);">
      </div>
    </div>


  </div>
</div>

<div class=" d-md-none bg-space1"></div>
<div class="bg-card"></div>

<div class="bg-space2">
  <div class="container">
    <div class="row arr-content2 d-flex justify-content-center">
      <div>
        <img class="d-none d-md-inline-block" src="assets/img/lg-想吃甜點是不需要理由的.png">
        <img class="mt-5 d-md-none" src="assets/img/sm-橫式-想吃甜點是不需要理由的@2x.png" alt="">
      </div>
    </div>
  </div>
</div>

<app-desserthome #desserthome></app-desserthome>
